& when (@media-common = true) {
    .item.product.product-item.side-banner {
        display: block;
        width: 100%;
    }

    .side-banner a.product.photo.product-item-photo {
        display: block;
        position: unset;
        text-align: center;
    }

    .side-banner .product.details.product-item-details.product-item-details {
        margin-left: 0;
    }
}

.ambanners.ambanner-7 .item.product.product-item .product-item-info {
    min-width: 105px;
}

.ambanners.ambanner-7 .item.product.product-item {
    min-width: 20%;
}

.ambanners.ambanner-7 .item.product.product-item {
    margin-left: 25px;
}

.ambanners.ambanner-7 .item.product.product-item .tocart {
    margin-top: 20px;
}

.ambanners.ambanner-7 .item.product.product-item .product-item-inner {
    padding-bottom: 0;
}

@media only screen and (min-width: 640px) {
    div.ambanners-injected-banner {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

