.root {
    display: grid;
    grid-gap: 1rem;
    padding-top: 1rem;
}

.root_updated {
    composes: root;
    opacity: 0.5;
    pointer-events: none;
}

.content {
    display: grid;
    grid-gap: 1rem;
}

.btn {
    width: fit-content;
}
